In [1]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [2]:
# module 6.5.2
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Let's review how we will use our dependencies. We'll use Pandas to read our CSV file and create the 
# locations and measurements from the DataFrame. We'll use gmaps and the API key to create heatmaps and 
# the locations map, and we'll use the requests dependency to make a request to the Google Places JSON file. 
# This will allow us to get hotel locations from the latitude and longitude of the city.

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mount Gambier,-37.8333,140.7667,51.10,99,100,3.83,AU,2022-10-12 15:46:09
1,1,Bengkulu,-3.8004,102.2655,76.39,85,100,3.98,ID,2022-10-12 15:46:10
2,2,Rikitea,-23.1203,-134.9692,68.47,67,53,17.22,PF,2022-10-12 15:46:10
3,3,Khatanga,71.9667,102.5000,29.70,95,100,5.23,RU,2022-10-12 15:46:10
4,4,Petropavlovsk-Kamchatskiy,53.0452,158.6483,41.59,100,100,8.95,RU,2022-10-12 15:46:11

In [5]:
city_data_df["Lat"]

0     -37.8333
1      -3.8004
2     -23.1203
3      71.9667
4      53.0452
        ...
567   -27.7951
568    48.3525
569     7.3833
570    61.2204
571     2.1833
Name: Lat, Length: 572, dtype: float64

In [6]:
type(city_data_df["Lat"])

pandas.core.series.Series

In [7]:
locations = [city_data_df["Lat"], city_data_df["Lng"]]
locations

[0     -37.8333
 1      -3.8004
 2     -23.1203
 3      71.9667
 4      53.0452
         ...
 567   -27.7951
 568    48.3525
 569     7.3833
 570    61.2204
 571     2.1833
 Name: Lat, Length: 572, dtype: float64,
 0      140.7667
 1      102.2655
 2     -134.9692
 3      102.5000
 4      158.6483
          ...
 567    -64.2615
 568    135.2325
 569      8.5667
 570      6.0749
 571     22.4667
 Name: Lng, Length: 572, dtype: float64]

In [8]:
type(locations)

list

In [9]:
locations2 = city_data_df[["Lat", "Lng"]]

In [10]:
type(locations2)

pandas.core.frame.DataFrame

In [11]:
locations2

         Lat       Lng
0   -37.8333  140.7667
1    -3.8004  102.2655
2   -23.1203 -134.9692
3    71.9667  102.5000
4    53.0452  158.6483
..       ...       ...
567 -27.7951  -64.2615
568  48.3525  135.2325
569   7.3833    8.5667
570  61.2204    6.0749
571   2.1833   22.4667

[572 rows x 2 columns]

In [12]:
#  The data we use for any mapping must be either an integer or a floating-point decimal number.

In [13]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [14]:
#create max temp heatmap
# Configure gmaps to use your Google API key that is stored in the config.py
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
# add temp or zero to make it positive
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# city_data_df["Lat"] is going straight to df and did not have to be defined
locations2 = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# temperatures = city_data_df["Max Temp"] # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations2, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
type(city_data_df["Max Temp"])

pandas.core.series.Series

In [19]:
city_data_df["Max Temp"]

0      51.10
1      76.39
2      68.47
3      29.70
4      41.59
       ...
567    83.21
568    37.42
569    81.14
570    45.48
571    80.29
Name: Max Temp, Length: 572, dtype: float64

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Get the maximum temperature.
# add temp or zero to make it positive
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [22]:
# this was changed from weights=max_temp to weights=temps
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [23]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#module 6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [29]:
# by using loc to create a new df from a current df we can get the info from 75- 90
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mount Gambier,-37.8333,140.7667,51.10,99,100,3.83,AU,2022-10-12 15:46:09
1,1,Bengkulu,-3.8004,102.2655,76.39,85,100,3.98,ID,2022-10-12 15:46:10
2,2,Rikitea,-23.1203,-134.9692,68.47,67,53,17.22,PF,2022-10-12 15:46:10
6,6,Kapaa,22.0752,-159.3190,76.98,94,0,3.44,US,2022-10-12 15:46:12
8,8,Fram,-26.9833,-55.8833,68.59,52,21,2.44,PY,2022-10-12 15:46:13
9,9,Wahiawa,21.5028,-158.0236,73.72,90,75,0.00,US,2022-10-12 15:42:27
10,10,Esperance,-33.8667,121.9000,54.10,69,100,19.60,AU,2022-10-12 15:46:13
11,11,Souillac,-20.5167,57.5167,71.98,73,75,11.50,MU,2022-10-12 15:46:14
12,12,Mitsamiouli,-11.3847,43.2844,79.09,69,20,4.61,KM,2022-10-12 15:46:14
13,13,Saint-Philippe,-21.3585,55.7679,72.99,75,24,9.93,RE,2022-10-12 15:46:14

In [30]:
# find out how many null values 3 different ways to do this
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()
preferred_cities_df.count()

City_ID       392
City          392
Lat           392
Lng           392
Max Temp      392
Humidity      392
Cloudiness    392
Wind Speed    392
Country       389
Date          392
dtype: int64

In [31]:
# module 6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# This is a new df to create a heatmap and pop-up markers. you dont want to use an already filtered df
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0    Mount Gambier      AU     51.10 -37.8333  140.7667
1         Bengkulu      ID     76.39  -3.8004  102.2655
2          Rikitea      PF     68.47 -23.1203 -134.9692
6            Kapaa      US     76.98  22.0752 -159.3190
8             Fram      PY     68.59 -26.9833  -55.8833
9          Wahiawa      US     73.72  21.5028 -158.0236
10       Esperance      AU     54.10 -33.8667  121.9000
11        Souillac      MU     71.98 -20.5167   57.5167
12     Mitsamiouli      KM     79.09 -11.3847   43.2844
13  Saint-Philippe      RE     72.99 -21.3585   55.7679

In [32]:
# searching now for places near by

# Set parameters to search for a hotel.
# params = {
    #"radius": 5000,
    #"type": "lodging",
    #"key": g_key
#}

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0    Mount Gambier      AU     51.10 -37.8333  140.7667
1         Bengkulu      ID     76.39  -3.8004  102.2655
2          Rikitea      PF     68.47 -23.1203 -134.9692
6            Kapaa      US     76.98  22.0752 -159.3190
8             Fram      PY     68.59 -26.9833  -55.8833
9          Wahiawa      US     73.72  21.5028 -158.0236
10       Esperance      AU     54.10 -33.8667  121.9000
11        Souillac      MU     71.98 -20.5167   57.5167
12     Mitsamiouli      KM     79.09 -11.3847   43.2844
13  Saint-Philippe      RE     72.99 -21.3585   55.7679

In [34]:
# Set parameters to search for a hotel.
# params = {
#    "radius": 5000,
 #   "type": "lodging",
  #  "key": g_key}

In [37]:
# Iterate through the DataFrame.
params = {
    "radius": 50000,
    "type": "lodging",
    "key": g_key}


for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]


    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
# this code is added because it gives you an error so to fix do a try except
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Found Hotel")
    except (IndexError):
        print("Hotel not found... skipping.")

Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Hotel not found... skipping.
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel
Found Hotel

KeyboardInterrupt:

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))