In [3]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.13.0
  latest version: 22.9.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /opt/anaconda3/envs/PythonData

  added / updated specs:
    - gmaps


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-22.9.0               |   py37hf985489_1         973 KB  conda-forge
    geojson-2.5.0              |             py_0          15 KB  conda-forge
    gmaps-0.9.0                |             py_0         1.7 MB  conda-forge
    python_abi-3.7             |          2_cp37m           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.7 MB

The following NEW packages will be INSTALLED:

  geojson            conda-forge/noarch::geojson-2.5.0-py_0
  gmaps              conda-forge/noarch::gmaps-0.9.0-py_0
  python_abi         conda-forge/osx-64::python_abi-3.7-2_cp37m

The following packages will be UPDATED:

  conda              pkgs/main::conda-4.13.0-py37hecd8cb5_0 --> conda-forge::conda-22.9.0-py37hf985489_1



Downloading and Extracting Packages
conda-22.9.0         | 973 KB    | ##################################### | 100%
gmaps-0.9.0          | 1.7 MB    | ##################################### | 100%
geojson-2.5.0        | 15 KB     | ##################################### | 100%
python_abi-3.7       | 4 KB      | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [20]:
# module 6.5.2
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [21]:
# Let's review how we will use our dependencies. We'll use Pandas to read our CSV file and create the 
# locations and measurements from the DataFrame. We'll use gmaps and the API key to create heatmaps and 
# the locations map, and we'll use the requests dependency to make a request to the Google Places JSON file. 
# This will allow us to get hotel locations from the latitude and longitude of the city.

In [22]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mount Gambier,-37.8333,140.7667,51.10,99,100,3.83,AU,2022-10-12 15:46:09
1,1,Bengkulu,-3.8004,102.2655,76.39,85,100,3.98,ID,2022-10-12 15:46:10
2,2,Rikitea,-23.1203,-134.9692,68.47,67,53,17.22,PF,2022-10-12 15:46:10
3,3,Khatanga,71.9667,102.5000,29.70,95,100,5.23,RU,2022-10-12 15:46:10
4,4,Petropavlovsk-Kamchatskiy,53.0452,158.6483,41.59,100,100,8.95,RU,2022-10-12 15:46:11

In [23]:
#  The data we use for any mapping must be either an integer or a floating-point decimal number.

In [24]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [25]:
#create max temp heatmap
# Configure gmaps to use your Google API key that is stored in the config.py
gmaps.configure(api_key=g_key)

In [42]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures =  # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

NameError: name 'latitude' is not defined

In [41]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# this was changed from weights=max_temp to weights=temps
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [35]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
#module 6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# by using loc to create a new df from a current df we can get the info from 75- 90
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Bengkulu,-3.8004,102.2655,76.39,85,100,3.98,ID,2022-10-12 15:46:10
6,6,Kapaa,22.0752,-159.3190,76.98,94,0,3.44,US,2022-10-12 15:46:12
12,12,Mitsamiouli,-11.3847,43.2844,79.09,69,20,4.61,KM,2022-10-12 15:46:14
15,15,Qui Nhon,13.7667,109.2333,77.95,82,98,16.51,VN,2022-10-12 15:46:15
16,16,Arraial Do Cabo,-22.9661,-42.0278,78.66,73,40,10.36,BR,2022-10-12 15:46:16
18,18,Shwebo,22.5667,95.7000,77.67,81,3,4.54,MM,2022-10-12 15:46:17
20,20,Cabedelo,-6.9811,-34.8339,86.67,65,66,19.22,BR,2022-10-12 15:44:30
22,22,Natchez,31.5604,-91.4032,80.04,76,100,11.50,US,2022-10-12 15:46:18
25,25,Kloulklubed,7.0419,134.2556,77.50,82,100,10.89,PW,2022-10-12 15:46:19
30,30,Kavieng,-2.5744,150.7967,81.50,74,100,3.04,PG,2022-10-12 15:46:20

In [45]:
# find out how many null values 3 different ways to do this
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()
preferred_cities_df.count()

City_ID       175
City          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
Country       174
Date          175
dtype: int64

In [46]:
# module 6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# This is a new df to create a heatmap and pop-up markers. you dont want to use an already filtered df
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1          Bengkulu      ID     76.39  -3.8004  102.2655
6             Kapaa      US     76.98  22.0752 -159.3190
12      Mitsamiouli      KM     79.09 -11.3847   43.2844
15         Qui Nhon      VN     77.95  13.7667  109.2333
16  Arraial Do Cabo      BR     78.66 -22.9661  -42.0278
18           Shwebo      MM     77.67  22.5667   95.7000
20         Cabedelo      BR     86.67  -6.9811  -34.8339
22          Natchez      US     80.04  31.5604  -91.4032
25      Kloulklubed      PW     77.50   7.0419  134.2556
30          Kavieng      PG     81.50  -2.5744  150.7967

In [47]:
# searching now for places near by

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1          Bengkulu      ID     76.39  -3.8004  102.2655
6             Kapaa      US     76.98  22.0752 -159.3190
12      Mitsamiouli      KM     79.09 -11.3847   43.2844
15         Qui Nhon      VN     77.95  13.7667  109.2333
16  Arraial Do Cabo      BR     78.66 -22.9661  -42.0278
18           Shwebo      MM     77.67  22.5667   95.7000
20         Cabedelo      BR     86.67  -6.9811  -34.8339
22          Natchez      US     80.04  31.5604  -91.4032
25      Kloulklubed      PW     77.50   7.0419  134.2556
30          Kavieng      PG     81.50  -2.5744  150.7967

In [49]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [57]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
# this code is added because it gives you an error so to fix do a try except
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

IndexError: list index out of range

In [58]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [62]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [63]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))